:root {
  --shape-color: #F8CA00
}
#section1 {
  /* border: 1px solid; */
  margin: 20px 50px;
}
.title {
  font-family: "Slabo 13px", serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}
h1 {
  text-align: center;
}
.star {
  margin: 40px auto;
  height: 200px;
  aspect-ratio: 1/1;
  clip-path: polygon(
    50% 0, 
    79% 91%, 
    2% 35%, 
    98% 35%, 
    21% 91%);
  background-color: var(--shape-color);
}
#section2 {
  border: 1px solid;
  margin: 20px auto;
  border-radius: 10px;
  width: 600px;
}

@media (max-width: 320px) {
  .title {
    font-size: 40px;
  }
  .star {
    height: 40vw;
  }
  #section2 {
    margin: 10px 0;
    text-align: left;
    width: 90vw;
  }
  .code {
    width: 90vw;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .title {
    font-size: 40px;
  }
  .star {
    height: 100px;
  }
  #section2 {
    width: 90vw;
  }
  .code {
    width: 80vw;
  }
}
@media (min-width: 426px) and (max-width: 600px) {
  .title {
    font-size: 40px;
  }
  .star {
    height: 120px;
  }
  #section2 {
    width: 80vw;
  }
  .code {
    width: 90vw;
  }
}